[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaptalint"]
	path = adaptalint
	url = https://github.com/maxconway/adaptalint
[submodule "gsheet"]
	path = gsheet
	url = https://github.com/maxconway/gsheet
